body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  background: #444;
}
img {
  width: 100%;
}
figcaption {
  text-align: center;
}
#container {
  width: 900px;
  background: #222;
  color: #fff;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px;
}
#container a {
  color: #42affa;
  font-weight: 400;
  text-decoration: none;
}
#container a:hover {
  color: #8dcffc;
}
#nav {
  height: 50px;
  margin: 0 auto;
}
#nav a {
  display: block;
  float: left;
  color: #fff;
  font-weight: 400;
  background: #444;
  text-decoration: none;
  padding: 0 20px;
  border-radius: 10px;
  line-height: 50px;
  margin-right: 5px;
}
#nav a:hover {
  color: #444;
  background: #fff;
}
#content {
  position: relative;
  padding-top:    20px;
  padding-left:    0px;
  padding-right:   0px;
  padding-bottom: 60px;
  overflow: auto; /* To keep floated content from extending beyond */
}
h1 {
  font-weight: 900;
}
blockquote {
  background: #444;
  padding: 10px;
  border-radius: 10px;
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0;
}
/* Portrait on home page */
#portrait {
  float: right;
  width: 25%;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#author {
  color: #777777;
}
#date {
  color: #777777;
}
#tags {
  color: #777777;
}
#footer {
  clear: both;
  color: #fff;
  background: #444;
  text-align: center;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
}
#headshot {
  float: right;
  margin: 10px;
}
dt {
  font-weight: 900;
}
/* ResearcherID badge image */
#badgeCont947380 > img {
  width: 126px;
}
