---
layout: default
title: The Well-Squared Circle
---

{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

  <div itemscope itemtype="http://schema.org/Blog">
  <header>
    <h1 itemprop="name">{{ page.title }}</h1>
  </header>
  <div role="main">
    <p>
      You have successfully located my blog! As of now I just have a clever
      title and a first post, but hopefully it will fill out with time to
      include some interesting material.
    </p>
    <ul>
    {% for post in site.posts %}
      <li itemprop="BlogPost" itemtype="http://schema.org/BlogPosting" itemscope>
        <a itemprop="url" href="{{ relative }}{{ post.url | remove_first: '/' }}">{{ post.title }}</a>
        (<time itemprop="dateCreated" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time>)
      </li>
    {% endfor %}
    </ul>
    <p>
      You can also subscribe to the
      <a href="{{ relative }}blog/rss.xml">RSS</a> or
      <a href="{{ relative }}blog/atom.xml">atom</a> feeds.
    </p>
  </div>
  </div>
